<div class="container">
  <h1>My phone book</h1>
  <hr />
  <div class="search-input">
    <input
      type="text"
      [(ngModel)]="field"
      class="form-control input"
      placeholder="search text goes here"
    />
    <button
      type="button"
      class="btn btn-success"
      id="add"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="showModal = true"
    >
      Add phone
    </button>
  </div>
  <hr />
  <table class="table">
    <thead>
      <tr>
        <th scope="col" (click)="changeSort('firstname')">
          First name {{ arrowF }}
        </th>
        <th scope="col" (click)="changeSort('lastname')">
          Last name {{ arrowL }}
        </th>
        <th scope="col" (click)="changeSort('number')">Number {{ arrowN }}</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody
      *ngFor="
        let user of users | search : field | sort : type : sortType;
        index as i
      "
    >
      <tr>
        <td>
          {{ user.firstname }}
        </td>
        <td>
          {{ user.lastname }}
        </td>
        <td>
          {{ user.number }}
        </td>
        <td>
          <button class="btn btn-warning w-100" (click)="editUser(i)">
            Edit
          </button>
        </td>
        <td>
          <button class="btn btn-danger w-100" (click)="deleteUser(i)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    [ngClass]="{ show: showModal }"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add phone</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="showModal = false"
          ></button>
        </div>
        <div class="modal-body">
          <input
            type="text"
            [(ngModel)]="currentName"
            class="form-control input mb-3"
            placeholder="Viktoriia"
          />
          <input
            type="text"
            [(ngModel)]="currentLastName"
            class="form-control input mb-3"
            placeholder="Honcharova"
          />
          <input
            type="text"
            [(ngModel)]="currentNumber"
            class="form-control input"
            placeholder="0000000000"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="showModal = false"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            *ngIf="!editStatus"
            (click)="addUser()"
          >
            Add phone
          </button>
          <button
            type="button"
            class="btn btn-primary"
            *ngIf="editStatus"
            (click)="saveEditUser()"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- <tbody *ngFor="let user of users; index as i | searchname:field">
      <tr>
        <td>
          {{ user.firstname }}
        </td>
        <td>
          {{ user.lastname }}
        </td>
        <td>
          {{ user.number }}
        </td>
        <td>
          <button class="btn btn-warning w-100" (click)="editUser(i)">
            Edit
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger w-100"
            (click)="deleteUser(i)"
            [disabled]="editStatus"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody> -->
</div>
